<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>SpotifyToken</key>
		<string>OGY3ZTdjMzE1MmI0NGI0NDgyYjFlZjYzNjk1NWVkYjQ6NDk4ZDNkYzRjNDFiNDdhZGI3ZGFjZWQxMjQwYzdjMjI=</string>
		<key>apiURL</key>
		<string>http://yaptap-staging.herokuapp.com/api/v1/</string>
		<key>CrashyliticsApiKey</key>
		<string></string>
		<key>MixpanelToken</key>
		<string>73e985910764f4cc366ee35ce107924d</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>SpotifyToken</key>
		<string>OGY3ZTdjMzE1MmI0NGI0NDgyYjFlZjYzNjk1NWVkYjQ6NDk4ZDNkYzRjNDFiNDdhZGI3ZGFjZWQxMjQwYzdjMjI=</string>
		<key>apiURL</key>
		<string>http://yaptap.herokuapp.com/api/v1/</string>
		<key>CrashyliticsApiKey</key>
		<string></string>
		<key>MixpanelToken</key>
		<string>079915ff762c3097893171724d44403c</string>
	</dict>
</dict>
</plist>
